<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="baadb4">  <td>15/07/17 17:11:30</td>   <td>0</td> <td title="&gt;&gt;Basedriver.basedriver()[pri:0, instance:fotf_Testcase.Homepage@28f67ac7]">&gt;&gt;basedriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468177767</td>   <td></td> </tr>
<tr bgcolor="6d8795">  <td>15/07/17 17:11:37</td>   <td>6926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homepage.smoketest()[pri:0, instance:fotf_Testcase.Homepage@28f67ac7]">smoketest</td> 
  <td>main@1468177767</td>   <td></td> </tr>
</table>
