<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="baadb4">  <td>15/07/28 17:31:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homepage.click_fotf_channels()[pri:0, instance:fotf_Testcase.Homepage@19dfb72a]">click_fotf_channels</td> 
  <td>main@1935637221</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>15/07/28 17:32:37</td>   <td>57299</td> <td title="&lt;&lt;Basedriver.closeDriver()[pri:0, instance:fotf_Testcase.Channelpage@1d251891]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1935637221</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>15/07/28 17:31:34</td>   <td>-5858</td> <td title="&gt;&gt;Basedriver.config()[pri:0, instance:fotf_Testcase.Channelpage@1d251891]">&gt;&gt;config</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1935637221</td>   <td></td> </tr>
<tr bgcolor="bc6874">  <td>15/07/28 17:32:37</td>   <td>57229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Channelpage.verify_fotf_channel()[pri:0, instance:fotf_Testcase.Channelpage@1d251891]">verify_fotf_channel</td> 
  <td>main@1935637221</td>   <td></td> </tr>
<tr bgcolor="baadb4">  <td>15/07/28 17:32:36</td>   <td>57081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homepage.verify_fotf_logo()[pri:0, instance:fotf_Testcase.Homepage@19dfb72a]">verify_fotf_logo</td> 
  <td>main@1935637221</td>   <td></td> </tr>
</table>
