<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>fotf_Testcase.PageEditor_AboutusPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_ImageOnLeft</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_HeaderImageOnLeft</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_ButtonOnRight</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_HeaderImageOnRight</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_HeaderImageOnTop</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_IFrameOnRightAlignedImageListItems</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_ButtonOnLeft</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_ButtonOnBottom</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_RightAlignedImageListItems</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_ImageOnRight</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_LeftAlignedImageListItems</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LoginSitecore</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LogoutSitecore</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>fotf_Testcase.Sitecore_AboutusPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_ImageOnLeft</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_HeaderImageOnLeft</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_ButtonOnRight</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_HeaderImageOnRight</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_HeaderImageOnTop</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_IFrameOnRightAlignedImageListItems</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_ButtonOnLeft</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_ButtonOnBottom</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_RightAlignedImageListItems</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_ImageOnRight</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AboutUs_LeftAlignedImageListItems</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LoginSitecore</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LogoutSitecore</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
