<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SeleniumJavaFramework</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7ac6c">  <td>15/12/02 16:21:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sitecore_AboutusPage.AboutUs_LeftAlignedImageListItems()[pri:0, instance:fotf_Testcase.Sitecore_AboutusPage@880ec60]">AboutUs_LeftAlignedImageListItems</td> 
  <td>main@1682092198</td>   <td></td> </tr>
<tr bgcolor="c1af68">  <td>15/12/02 16:22:25</td>   <td>63241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PageEditor_AboutusPage.AboutUs_LeftAlignedImageListItems()[pri:0, instance:fotf_Testcase.PageEditor_AboutusPage@48140564]">AboutUs_LeftAlignedImageListItems</td> 
  <td>main@1682092198</td>   <td></td> </tr>
<tr bgcolor="a7ac6c">  <td>15/12/02 16:21:15</td>   <td>-7140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Sitecore_AboutusPage.LoginSitecore()[pri:0, instance:fotf_Testcase.Sitecore_AboutusPage@880ec60]">&gt;&gt;LoginSitecore</td> 
<td>&nbsp;</td>  <td>main@1682092198</td>   <td></td> </tr>
<tr bgcolor="c1af68">  <td>15/12/02 16:22:20</td>   <td>58106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageEditor_AboutusPage.LoginSitecore()[pri:0, instance:fotf_Testcase.PageEditor_AboutusPage@48140564]">&gt;&gt;LoginSitecore</td> 
<td>&nbsp;</td>  <td>main@1682092198</td>   <td></td> </tr>
<tr bgcolor="a7ac6c">  <td>15/12/02 16:22:15</td>   <td>53040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Sitecore_AboutusPage.LogoutSitecore()[pri:0, instance:fotf_Testcase.Sitecore_AboutusPage@880ec60]">&lt;&lt;LogoutSitecore</td> 
<td>&nbsp;</td>  <td>main@1682092198</td>   <td></td> </tr>
<tr bgcolor="6995df">  <td>15/12/02 16:21:03</td>   <td>-18571</td> <td>&nbsp;</td><td title="&gt;&gt;Basedriver.config(java.lang.String)[pri:0, instance:fotf_Testcase.PageEditor_AboutusPage@48140564]">&gt;&gt;config</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1682092198</td>   <td></td> </tr>
</table>
