<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SeleniumJavaFramework</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b6d63">  <td>16/07/25 18:20:03</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Basedriver.Configuration()[pri:0, instance:hrst_Testcase.TC_Header@60f82f98]">&gt;&gt;Configuration</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="c6a873">  <td>16/07/25 18:20:38</td>   <td>34926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AboutPage.HopeRestored_About()[pri:0, instance:hrst_Testcase.TC_AboutPage@79698539]">HopeRestored_About</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>16/07/25 18:21:02</td>   <td>58605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ContactUsPage.HopeRestored_ContactUs()[pri:0, instance:hrst_Testcase.TC_ContactUsPage@dfd3711]">HopeRestored_ContactUs</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="bf8bb7">  <td>16/07/25 18:20:20</td>   <td>16123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Footer.HopeRestored_Footer()[pri:0, instance:hrst_Testcase.TC_Footer@79b4d0f]">HopeRestored_Footer</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="82ba7e">  <td>16/07/25 18:20:12</td>   <td>8433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Header.HopeRestored_Header()[pri:0, instance:hrst_Testcase.TC_Header@60f82f98]">HopeRestored_Header</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="63be87">  <td>16/07/25 18:20:25</td>   <td>21709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_HomePage.HopeRestored_Home()[pri:0, instance:hrst_Testcase.TC_HomePage@6b2fad11]">HopeRestored_Home</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="cf72fd">  <td>16/07/25 18:20:46</td>   <td>42442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ProgramPage.HopeRestored_Program()[pri:0, instance:hrst_Testcase.TC_ProgramPage@2ed94a8b]">HopeRestored_Program</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>16/07/25 18:20:54</td>   <td>50662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_TestimonialsPage.HopeRestored_testimonials()[pri:0, instance:hrst_Testcase.TC_TestimonialsPage@38082d64]">HopeRestored_testimonials</td> 
  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="c6a873">  <td>16/07/25 18:20:37</td>   <td>33722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_AboutPage.NavigatetoHopeRestored()[pri:0, instance:hrst_Testcase.TC_AboutPage@79698539]">&gt;&gt;NavigatetoHopeRestored</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="cf72fd">  <td>16/07/25 18:20:45</td>   <td>41236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_ProgramPage.NavigatetoHopeRestored()[pri:0, instance:hrst_Testcase.TC_ProgramPage@2ed94a8b]">&gt;&gt;NavigatetoHopeRestored</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>16/07/25 18:20:53</td>   <td>49395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_TestimonialsPage.NavigatetoHopeRestored()[pri:0, instance:hrst_Testcase.TC_TestimonialsPage@38082d64]">&gt;&gt;NavigatetoHopeRestored</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>16/07/25 18:21:01</td>   <td>57358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_ContactUsPage.NavigatetoHopeRestored()[pri:0, instance:hrst_Testcase.TC_ContactUsPage@dfd3711]">&gt;&gt;NavigatetoHopeRestored</td> 
<td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>16/07/25 18:21:12</td>   <td>68554</td> <td>&nbsp;</td><td title="&lt;&lt;Basedriver.closeDriver()[pri:0, instance:hrst_Testcase.TC_Header@60f82f98]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
<tr bgcolor="9b6d63">  <td>16/07/25 18:20:03</td>   <td>-23</td> <td title="&gt;&gt;Basedriver.environmentSetup()[pri:0, instance:hrst_Testcase.TC_Header@60f82f98]">&gt;&gt;environmentSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1753447031</td>   <td></td> </tr>
</table>
